*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(238, 222, 224);
}
#Header{
    background-color: rgb(27, 26, 26);
    color: white;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}
#Choices{
    display: flex;
    justify-content: space-evenly;
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 20px;
    background-size: cover;
    box-sizing: border-box;
}
.box:hover{
    cursor: pointer;
    border: 5px solid black;
}
.box:active{
    opacity: 0.5;
    border: 10px solid black;
}
#Score_Board{
    display: flex;
    font-size: 40px;
    justify-content: center;
}
.Score{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}
#Message{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}
#msg{
    height: 30px;
    background-color:rgb(27, 26, 26);
     color: white;
      padding:10px;
      font-size: 25px;
      border-radius: 10px;
}